# History files
.Rhistory

# data files
/data/*.grib
/data/raw-forecasts/*

# nohup from Roy runs
*.out

# non-standard output files
/output/*.pdf
/output/*.svg
/output/*.png

# don't save the archive files to the github
output/archive/*
