# History files
.Rhistory

# data files
/data/*.grib
/data/raw-forecasts/*

# nohup from Roy runs
*.out

# non-standard output files
/output/*.pdf
/output/*.svg
/output/*.png

# don't save the archive files to the github
data/archive/*
output/archive/*

# stuff from the github pages build
_site/
.jekyll-cache/

# figshare API token
areadata-token.txt

# GID2 output files
/output/*dailymean-GID2*

# crontab
areadata-cron.sh
